<div class="main">
  <div class="header">
    <mat-icon>account_circle</mat-icon>
    <span>Nguyễn Hữu Nhân</span>
  </div>
  <div class="tabs">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-icon">
            <mat-icon>person</mat-icon>
            Thông tin
          </div>
        </ng-template>
        <app-info-user></app-info-user>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-icon">
            <mat-icon>history_edu</mat-icon>
            Trình độ học vấn
          </div>
        </ng-template>
        <app-education></app-education>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-icon">
            <mat-icon>verified</mat-icon>
            Chứng chỉ, chứng nhận
          </div>
        </ng-template>
        <app-certificate></app-certificate>
      </mat-tab>
      <!-- Uncomment and customize the icon if needed -->
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>work</mat-icon>
          Công tác
        </ng-template>
        <app-job></app-job>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-icon">
            <mat-icon>group_work</mat-icon>
            Tham gia dự án
          </div>
        </ng-template>
        <app-join-project></app-join-project>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-icon">
            <mat-icon>school</mat-icon>
            Đào tạo
          </div>
        </ng-template>
        <app-training></app-training>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
